<IfModule mod_php5.c>
    php_flag output_buffering on
</IfModule>

<IfModule mod_rewrite.c>
    ErrorDocument 401 "Unauthorized"
    ErrorDocument 403 "Forbidden"
    ErrorDocument 404 "Not Found"

    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)$ Simple-Social-Network/public/index.php?page=$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/([^/]+)$ Simple-Social-Network/public/index.php?page=$1&guid=$2 [L]
</IfModule>
